/* =====================
  リセット
===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* デバック用 枠線 */
  /* outline: 0.5px solid red; */
}
body {
  font-family: sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}
main {
  margin: 0;
  padding: o;
}
a { text-decoration: none; color: inherit; }
button { border: none; background: none; cursor: pointer; }
