/* =====================
  リセット
===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}
a { text-decoration: none; color: inherit; }
button { border: none; background: none; cursor: pointer; }
