/* =====================
  タブ
===================== */
.tabs {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  display: flex;
  z-index: 2000;
  background: var(--tab-bg);
  border-top: 1px solid var(--header-border);
  border-bottom: 1px solid var(--header-border);
}

.tab {
  flex: 1;
  padding: 18px 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background: var(--tab-bg);
  color: var(--tab-text-color);
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.tab::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 3px;
  background: var(--tab-underline-color);
  border-radius: 2px;
}
.tab.active {
  color: var(--tab-active-color);
}
.tab.active::after {
  background: var(--tab-active-underline-color);
}
.tab:not(.active):hover {
  color: var(--tab-active-color);
}

/* コンテンツ */
.content {
  padding-top: 140px;
  max-width: 1200px;
  margin: 0 auto;
}
.tab-content { display: none;  }
.tab-content.active { display: block; }
